.log-animation-1 {
}

.container-for-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Center the content horizontally */
}

.from-text-1 {
  position: relative;
  background-color: var(--yellow);
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;

  flex-direction: column;
  height: 100vh;
  width: 50%;
  /* align-items: center;  */
}

.sub-btn {
  background-color: royalblue;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.from-text-1 h1 {
  margin-bottom: 20px;
}

.from-text-1 input {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.from-text-1 input::placeholder {
  text-align: center;
}
.login-form {
  margin-top: 20%;
}
.from-text-1 .row {
  display: flex;
  flex-direction: column; /* Adjust the layout for smaller screens */
  margin-bottom: 20px;
}

.from-text-1 .row input {
  flex: 1;
  margin-right: 0; /* Adjust margin for smaller screens */
}

@media screen and (max-width: 600px) {
  .container-for-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; /* Center the content horizontally */
  }
  .from-text-1 {
    position: relative;
    background-color: var(--yellow);
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;

    flex-direction: column;
    height: 80vh;
    width: 100%;
    /* align-items: center;  */
  }
  .log-animation-1 img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .from-text-1 {
    position: relative;
    background-color: var(--yellow);
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 150% auto;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* align-items: center;  */
  }
  .log-animation-1 img {
    width: 80%;
  }
}
